<h1>Create</h1>

<form class="createForm" action="/CMS/Upload" method="post" enctype="multipart/form-data">
    <div>
        <label for="title" id="lblTitle">Title</label>
        <input type="text" name="title" class="FormTitle" />
    </div>
    <div>
        <label for="image" id="lblImage">Image</label>
        <input type="file" name="image" accept=".png,.jpg" class="FormImg" />
    </div>

    <div class="createEditBtn">
        <input type="submit" name="submit" id="btnSubmit" aria-label="submit" />
        <a href="/cms/index">Cancel</a>
    </div>

    <p id="errorMessage">@ViewData["ErrorMessage"]</p>


</form>

<div class="slickItem">
    <p class="outPutTitle"> </p>
    <img alt="Image" class="OutputImg" />
</div>
