body {
}


h1 {
    text-align: center;
    padding: 20px;
    font-size: 30px
}



input[type="file"] {
    width: 75%;
}

#btnSubmit {
    width: 300px;
    height: 60px;
}

label, p, input {
    font-size: 15px
}