@model IEnumerable<VertoDeveloperTest.Models.Carousel>

<div>
    <p>test</p>
    @{
        if (Model is not null)
        {
            foreach (var item in Model)
            {
                <p>@item.ID </p>
                <p>@item.Title </p>
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Img)" alt="Image" />
                <a href="/CMS/Delete/@item.ID">delete</a>
                <a href="/cms/edit/@item.ID">edit</a>
                
            }
        }

    }
</div>
<a href="/CMS/create">create</a>
