@model IEnumerable<VertoDeveloperTest.Models.Carousel>
<a href="/CMS/create" id="Create">Create</a>
<a href="/" id="Home">Home</a>
<div id="CMSSlickList">
    
    @{
        if (Model is not null)
        {
            foreach (var item in Model)
            {
                
                <div class="slickItem">
                <p>@item.Title </p>
                <img src="data:image/png;base64,@Convert.ToBase64String(item.Img)" alt="Image" />
                </div>
                <div class="cmsIndexBtn">
                <a href="/CMS/Delete/@item.ID">Delete</a>
                <a href="/cms/edit/@item.ID">Edit</a>
                </div>
                
            }
        }

    }
</div>

