@{
    ViewData["Title"] = "Home Page";
}


<header>
    <p class="btn mustard" id="HaveAProject"> &#128488 HAVE A PROJECT?</p>
    <img src="assets/logo.png" alt="iOTA logo" />
    <div id="mobileOptions">

        <div id="menuBar">
       <p id="Home">Home</p>
       <p>Services</p>
       <p>Sustainability</p>
       <p>Our Work</p>
       <p>Resources</p>
       <p>About iOTA</p>
        <p>Get in Touch</p>
   </div>
 
        <p>&#128269</p>
        <p id="hamburger">&#9776</p>
    </div>
</header>

<div class="slick">
   <figure class="slickItem">
        <img src="assets/image4.png"/>
              <p>Creating Exceptional Workspaces</p>
   </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
</div>
<section id="fourCricle">
    <p class="btn teal" id="exploreOurWork">&#8595 EXPLORE OUR WORK</p>
    <img src ="assets/circle-icons.png" alt="four areas"/>
   <div id="fourCricleTop">
    <h2>Custom built design & furniture solutions</h2>
    <div id="fourCricleNested">
    <p>Specialists in transforming commercial spaces into agile, funtional and empowering enviromnets.</p>
    <p class="btn mustard">WHAT WE DO</p>
</div>    
</div>
</section>

<section id="LatestWork">
    <h2>Explore our latest work...</h2>
    <div id="LatestWorkExamples">
        <!--LWE = latest work example-->
    <figure id="LWE1">
        <img src="assets/image5.png" alt="corridor"/>
        <div id="workText">
        <h3>Case Study Name Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>VIEW MORE &#8594</p>
               </div>
   </figure>
        <figure id ="LWE2">
            <img src="assets/image5.png" alt="corridor" />
            <div id="workText">
                <h3>Case Study Name Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>VIEW MORE &#8594</p>
            </div>
        </figure>
        <figure id="LWE3">
            <img src="assets/image5.png" alt="corridor" />
            <div id="workText">
                <h3>Case Study Name Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>VIEW MORE &#8594</p>
            </div>
        </figure>
   </div>


</section>

<section id="fourAreas">
    <img src="assets/Group 456.png" alt="office icon"/>
    <img src="assets/Group 457.png" alt="education icon"/>
    <img src="assets/Group 458.png" alt="healthcare icon"/>
    <img src="assets/Group 459.png" alt="hosputality icon"/>
     
</section>

<section id="discoverMore">
    <img src="assets/image1.png" alt="seating area" />
    <div id="discoverMoreText">
    <h2>Discover more about iOTA</h2>
    <p>Find out who we are, why we do it and why we love what we do.</p>
    <div id="discoverMoreBtn">
    <p class="btn teal">&#9654 WATCH THE VIDEO</p>
    <p class="btn mustard">ABOUT iOTA INTERIORS</p>
    </div>
    </div>
</section>
<footer>
    <img src="assets/logo.png" alt="iOTA logo" /> 
    <div id="topFooterInfo">
        <div id="topMidFooterInfo">
    <div>
                <p>&copy iOTA Interirs Limited T/A iOTA Office Furniture</p>
                <p>Terms & Conditons</p>
                <p>Site by verto</p>
    </div>
    <div>
                <p> Head Office:</p>
                <p>The Crabtree, Quinton Green Park, Quinton, Northampton NN& 2EG</p>
    </div>
    </div>
        <div id="bottomMidFooterInfo">
    <div>
                <p>? connect with us</p>
                <p>? Like Us</p>
    </div>
    <div>
                <p>&#9990 +44(0)1604 289630</p>
                <p>&#9993 hello@iotaofficefurniture.co.uk</p>
    </div>
    </div>
    </div>


</footer>
