@{
    ViewData["Title"] = "Home Page";
}

<div class="slick">
   <figure class="slickItem">
        <img src="assets/image4.png"/>
              <p>Creating Exceptional Workspaces</p>
   </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
</div>
<section id="fourCricle">
    <p class="btn teal" id="exploreOurWork">&#8595 EXPLORE OUR WORK</p>
    <img src ="assets/circle-icons.png" alt="four areas"/>
   <div id="fourCricleTop">
    <h2>Custom built design & furniture solutions</h2>
    <div id="fourCricleNested">
    <p>Specialists in transforming commercial spaces into agile, funtional and empowering enviromnets.</p>
    <p class="btn mustard">WHAT WE DO</p>
</div>    
</div>
</section>
