@{
    ViewData["Title"] = "Home Page";
}

<div class="slick">
   <figure class="slickItem">
        <img src="assets/image4.png"/>
              <p>Creating Exceptional Workspaces</p>
   </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
    <figure class="slickItem">
        <img src="assets/image4.png" />
        <p>Creating Exceptional Workspaces</p>
    </figure>
</div>
