

/*
    font
*/
body *{
    font-family: "Red Hat Display", sans-serif;
    
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 20px;
  margin-top:0px;
}
/*
    slick
*/
.slick-dots {
    position: absolute;
    z-index: 10;
    top: 90%;
    
}
.slick-dots li button {
    border: 1px solid white !important;
    border-radius: 100%;
}
    /*
        gets rid of that white line under it
    */
.slick-list{
    height:100% !important;
}




/*
    as css isolation doest work unless plain html node.
*/


.createForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
    row-gap:20px;
}
  
.createForm *{
    grid-column: span 2;
    align-self:center;
    
}

input [type="file"] {
    width: 75%;
}




@media screen and (min-width: 768px) {
    .createForm :nth-child(1), .createForm :nth-child(2) {
        grid-column: span 1;
        
    }
    
}



